In [132]:
import dataFiltering as dF
import numpy as np
import pandas as pd

## Extracting useful features from the existing dataset, based on user ID

In [133]:
filepath = 'kim_2019_for_TOS_use.csv'
columns = ['survey.id', 'Preference', 'Tout', 'Ta_chair', 'RH_chair', 'chair.status', 'back_fan', 'back_heater', 'seat_fan', 'seat_heater']
keyColumn = 'survey.id'

In [134]:
for surveyID in range(100):
    temp_df = dF.select_Columns_fromCSV(filepath, columns, keyColumn, surveyID)
    counts = temp_df['Preference'].value_counts()
    if len(counts) == 3:
        feedback = abs(counts["Cooler"] + counts["Warmer"])
        tolerance = 50
        if dCW > tolerance:
            print("surveyID:", surveyID)

surveyID: 1
surveyID: 2
surveyID: 4
surveyID: 5
surveyID: 6
surveyID: 8
surveyID: 10
surveyID: 11
surveyID: 20
surveyID: 27
surveyID: 33
surveyID: 34
surveyID: 35
surveyID: 37
surveyID: 38
surveyID: 40
surveyID: 43
surveyID: 45
surveyID: 46
surveyID: 47
surveyID: 48
surveyID: 49
surveyID: 50

In [135]:
surveyID = 10
pd.set_option('display.max_rows', 10)
df = dF.select_Columns_fromCSV(filepath, columns, keyColumn, surveyID)
# change chiar.staus column data to chiarStatus
df.columns = ['Tout', 'back_fan', 'back_heater', 'seat_fan', 'seat_heater', 'Ta_chair', 'RH_chair', 'survey.id', 'Preference', 'chairStatus']
df

,Tout,back_fan,back_heater,seat_fan,seat_heater,Ta_chair,RH_chair,survey.id,Preference,chairStatus
973,12.777778,0,50,0,25,21.772,53.499,10,Warmer,No
974,12.777778,0,50,0,50,21.772,53.499,10,No change,Yes
975,12.777778,0,50,0,50,21.843,53.603,10,No change,Yes
976,12.222222,0,50,0,50,22.369,52.955,10,No change,Yes
977,12.222222,0,50,0,50,22.681,50.754,10,No change,Yes
...,...,...,...,...,...,...,...,...,...,...
1100,17.222222,100,0,100,0,22.609,48.858,10,No change,Yes
1101,16.111111,50,0,50,0,22.872,52.016,10,No change,Yes
1102,17.222222,50,0,50,0,22.417,48.930,10,No change,Yes
1103,17.777778,50,0,50,0,22.489,48.875,10,No change,Yes
1104,13.888889,0,0,0,0,23.136,53.876,10,No change,Yes

## Transfering preference data strings to numerical values

In [136]:
df['Preference'] = np.where((df.Preference == 'Warmer'), 1, df.Preference)
df['Preference'] = np.where((df.Preference == 'No change'), 2, df.Preference)
df['Preference'] = np.where((df.Preference == 'Cooler'), 3, df.Preference)
df['chairStatus'] = np.where((df.chairStatus == 'No'), 0, df.chairStatus)
df['chairStatus'] = np.where((df.chairStatus == 'Yes'), 1, df.chairStatus)
df

,Tout,back_fan,back_heater,seat_fan,seat_heater,Ta_chair,RH_chair,survey.id,Preference,chairStatus
973,12.777778,0,50,0,25,21.772,53.499,10,1,0
974,12.777778,0,50,0,50,21.772,53.499,10,2,1
975,12.777778,0,50,0,50,21.843,53.603,10,2,1
976,12.222222,0,50,0,50,22.369,52.955,10,2,1
977,12.222222,0,50,0,50,22.681,50.754,10,2,1
...,...,...,...,...,...,...,...,...,...,...
1100,17.222222,100,0,100,0,22.609,48.858,10,2,1
1101,16.111111,50,0,50,0,22.872,52.016,10,2,1
1102,17.222222,50,0,50,0,22.417,48.930,10,2,1
1103,17.777778,50,0,50,0,22.489,48.875,10,2,1
1104,13.888889,0,0,0,0,23.136,53.876,10,2,1

## Keeping the data when chairStatus is 1, otherwise deleting the data

In [137]:
final_df = df.loc[df['chairStatus'] > 0]
final_df

,Tout,back_fan,back_heater,seat_fan,seat_heater,Ta_chair,RH_chair,survey.id,Preference,chairStatus
974,12.777778,0,50,0,50,21.772,53.499,10,2,1
975,12.777778,0,50,0,50,21.843,53.603,10,2,1
976,12.222222,0,50,0,50,22.369,52.955,10,2,1
977,12.222222,0,50,0,50,22.681,50.754,10,2,1
978,13.888889,0,50,0,50,22.298,48.979,10,2,1
...,...,...,...,...,...,...,...,...,...,...
1100,17.222222,100,0,100,0,22.609,48.858,10,2,1
1101,16.111111,50,0,50,0,22.872,52.016,10,2,1
1102,17.222222,50,0,50,0,22.417,48.930,10,2,1
1103,17.777778,50,0,50,0,22.489,48.875,10,2,1
1104,13.888889,0,0,0,0,23.136,53.876,10,2,1

## Summing all fan values and all heater values

In [138]:
fan_list = ['back_fan', 'seat_fan']
heater_list = ['back_heater',  'seat_heater']
# sum column list accross row
final_df['fan'] = final_df[fan_list].sum(axis=1)
final_df['heater'] = final_df[heater_list].sum(axis=1)
io_df = final_df[['Tout', 'Ta_chair', 'RH_chair', 'fan', 'heater', 'Preference']]
io_df

<ipython-input-138-10f816b5e55e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['fan'] = final_df[fan_list].sum(axis=1)
<ipython-input-138-10f816b5e55e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['heater'] = final_df[heater_list].sum(axis=1)

           Tout  Ta_chair  RH_chair  fan  heater Preference
974   12.777778    21.772    53.499    0     100          2
975   12.777778    21.843    53.603    0     100          2
976   12.222222    22.369    52.955    0     100          2
977   12.222222    22.681    50.754    0     100          2
978   13.888889    22.298    48.979    0     100          2
...         ...       ...       ...  ...     ...        ...
1100  17.222222    22.609    48.858  200       0          2
1101  16.111111    22.872    52.016  100       0          2
1102  17.222222    22.417    48.930  100       0          2
1103  17.777778    22.489    48.875  100       0          2
1104  13.888889    23.136    53.876    0       0          2

[105 rows x 6 columns]

### integrate fan and heater and replace reference

In [139]:
io_df['heater'] = io_df['heater']*(-1)
io_df['prefer'] = io_df['fan'] + io_df['heater']
io_df['prefer'] = io_df['prefer']/200 + 2
# 1-2: prefer warmer (feeling cold); 2: no change; 2-3: prefer cooler (feeling hot).
integrated_df = io_df[['Tout', 'Ta_chair', 'RH_chair', 'prefer']]
integrated_df

<ipython-input-139-a4bfaf316f2e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  io_df['heater'] = io_df['heater']*(-1)
<ipython-input-139-a4bfaf316f2e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  io_df['prefer'] = io_df['fan'] + io_df['heater']
<ipython-input-139-a4bfaf316f2e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  io_df['prefer'] = io_df['prefer']/200 + 2

           Tout  Ta_chair  RH_chair  prefer
974   12.777778    21.772    53.499     1.5
975   12.777778    21.843    53.603     1.5
976   12.222222    22.369    52.955     1.5
977   12.222222    22.681    50.754     1.5
978   13.888889    22.298    48.979     1.5
...         ...       ...       ...     ...
1100  17.222222    22.609    48.858     3.0
1101  16.111111    22.872    52.016     2.5
1102  17.222222    22.417    48.930     2.5
1103  17.777778    22.489    48.875     2.5
1104  13.888889    23.136    53.876     2.0

[105 rows x 4 columns]

## Simulating environmental conditions and calculating PMV values

In [8]:
# only run the command below once
! pip install pythermalcomfort

Requirement already satisfied: pythermalcomfort in /opt/anaconda3/lib/python3.8/site-packages (1.5.2)
Requirement already satisfied: numba in /opt/anaconda3/lib/python3.8/site-packages (from pythermalcomfort) (0.51.2)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.8/site-packages (from pythermalcomfort) (1.5.2)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /opt/anaconda3/lib/python3.8/site-packages (from numba->pythermalcomfort) (0.34.0)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.8/site-packages (from numba->pythermalcomfort) (50.3.1.post20201107)
Requirement already satisfied: numpy>=1.15 in /opt/anaconda3/lib/python3.8/site-packages (from numba->pythermalcomfort) (1.19.2)

## PMV calcualtion example

In [140]:
import pandas as pd
from pythermalcomfort.models import pmv_ppd
from pythermalcomfort.psychrometrics import v_relative
import os

pmv_df = pd.read_csv(os.getcwd() + "/template_SI.csv")

pmv_df["PMV"] = None
# pmv_df["PPD"] = None

for index, row in pmv_df.iterrows():
    
    results = pmv_ppd(
        tdb=row["tdb"],
        tr=row["tr"],
        vr=vr,
        rh=row["rh"],
        met=row["met"],
        clo=row["clo"],
        standard="ashrae")
    pmv_df.loc[index, "PMV"] = results["pmv"]
#     pmv_df.loc[index, "PPD"] = results["ppd"]

pmv_df

NameError: name 'vr' is not defined

## Simulating and transfering PMV values to fan or heat strips control signals as inputs and thermal preferences as outputs
<!-- TSV	-3	-2	-1	0	1	2	3
fan	0	0	0	0	50,100	100,150	150,200
heater	150,200	100,150	50,100	0	0	0	0
Preference	3	3	1	1	1	2	2 -->

In [141]:
import random
from pythermalcomfort.models import pmv_ppd
from pythermalcomfort.psychrometrics import v_relative

tdb = 25
tr = 25.0
v = 0.15
rh = 50.0
met = 1.0
clo = 1.0
vr = v_relative(v, met)
standard= "ashrae"

for i in range(200):
    tout = random.uniform(10.0, 20.0)
    tdb = random.uniform(15.0, 30.0)
    tr = (tout + tdb)/2
    rh = random.uniform(30.0, 70.0)
    pmv = pmv_ppd(tdb=tdb, tr=tr, vr=vr, rh=rh, met=met, clo=clo, standard=standard)["pmv"]
    # for pmv between 0 and 3, give corresponding values
    if 0 < pmv <= 1:
        sim_P = 1
        sim_fan = random.randint(50.0, 100.0)
        sim_heater = 0
    if 1 < pmv <= 2:
        sim_P = 2
        sim_fan = random.randint(100.0, 150.0)
        sim_heater = 0
    if 2 < pmv <= 3:
        sim_P = 2
        sim_fan = random.randint(100.0, 150.0)
        sim_heater = 0
    # for pmv between 0 and -3, give corresponding values
    if -1 < pmv <= 0:
        sim_P = 1
        sim_fan = 0
        sim_heater = random.randint(50.0, 100.0)
    if -2 < pmv <= -1:
        sim_P = 3
        sim_fan = 0 
        sim_heater = random.randint(100.0, 150.0)
    if -3 < pmv <= -2:
        sim_P = 3
        sim_fan = 0
        sim_heater = random.randint(100.0, 150.0)
    new_row = {'Tout': tout, 'Ta_chair': tdb, 'RH_chair': rh, 'fan': sim_fan, 'heater': sim_heater, 'Preference': sim_P}
    #append row to the dataframe
    io_df = io_df.append(new_row, ignore_index=True)

/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [142]:
io_df

/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

          Tout   Ta_chair   RH_chair   fan  heater Preference  prefer
0    12.777778  21.772000  53.499000   0.0  -100.0          2     1.5
1    12.777778  21.843000  53.603000   0.0  -100.0          2     1.5
2    12.222222  22.369000  52.955000   0.0  -100.0          2     1.5
3    12.222222  22.681000  50.754000   0.0  -100.0          2     1.5
4    13.888889  22.298000  48.979000   0.0  -100.0          2     1.5
..         ...        ...        ...   ...     ...        ...     ...
300  11.405017  23.704630  63.919870   0.0    59.0          1     NaN
301  10.347358  27.927755  56.270752  78.0     0.0          1     NaN
302  12.671233  29.309380  48.834922  81.0     0.0          1     NaN
303  15.456839  15.345880  53.157095   0.0   103.0          3     NaN
304  17.368852  19.438575  62.083285   0.0   148.0          3     NaN

[305 rows x 7 columns]

## splite the dataset to input and output data

In [143]:
input_df = io_df[['Tout', 'Ta_chair', 'RH_chair', 'fan', 'heater']]
input_df
# norm_input_df=(input_df-input_df.min())/(input_df.max()-input_df.min())
# norm_df = (input_df - input_df.mean()) / input_df.std()
# norm_input_df

/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

          Tout   Ta_chair   RH_chair   fan  heater
0    12.777778  21.772000  53.499000   0.0  -100.0
1    12.777778  21.843000  53.603000   0.0  -100.0
2    12.222222  22.369000  52.955000   0.0  -100.0
3    12.222222  22.681000  50.754000   0.0  -100.0
4    13.888889  22.298000  48.979000   0.0  -100.0
..         ...        ...        ...   ...     ...
300  11.405017  23.704630  63.919870   0.0    59.0
301  10.347358  27.927755  56.270752  78.0     0.0
302  12.671233  29.309380  48.834922  81.0     0.0
303  15.456839  15.345880  53.157095   0.0   103.0
304  17.368852  19.438575  62.083285   0.0   148.0

[305 rows x 5 columns]

In [144]:
output_df = io_df[['Preference']]
output_df
# norm_output_df

/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

    Preference
0            2
1            2
2            2
3            2
4            2
..         ...
300          1
301          1
302          1
303          3
304          3

[305 rows x 1 columns]

## Outputing pandas dataframe to CSV files

In [13]:
input_df.to_csv('input_data_id{}.csv'.format(surveyID), mode = 'w', index=False)

/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [14]:
output_df.to_csv('output_data_id{}.csv'.format(surveyID), mode = 'w', index=False)

/opt/anaconda3/lib/python3.8/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

## outputing all data to CSV files

In [108]:
integrated_df.to_csv('integrated_data_id{}.csv'.format(surveyID), mode = 'w', index=False)